/* Header */

header
 {
   font-family: Verdana;
   font-size: 14px;
   font-weight: bold;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header p{
  color: MediumAquamarine;
}

#nav li {
  display: inline-block;
  padding: 0 10px;
}

#logo_container{
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.logo{
  margin-left: 10px;
}

/* Main Container */

div{
  border: 1px solid black;
}

#main_container {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0 0;
}

.large {
  width: 630px;
}

.medium {
  width: 300px;
}

.small {
  width: 240px;
}

.article {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.image {
  padding-bottom: 200px;
  color: white;
  display: flex;
  justify-content: center;
}

.image h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 0;
}

.image.main {
  background-image: url("../../resources/images/img-story-main.png");
  font-size: 40px;
  background-size: cover;
}

.image.story_1 {
  background-image: url("../../resources/images/img-story-1.png	");
}

.image.story_2 {
  background-image: url("../../resources/images/img-story-2.png");
}

.image.story_3 {
  background-image: url("../../resources/images/img-story-3.png");
}
